<app-tracker></app-tracker>



<div class="form-container">
    <h2>Personal Details</h2>
    <p>Enter your personal details and start with your loan application</p>

    <div>
        <label for="">Enter Full Name</label>
        <br>
        <input type="text" class="form-control" id="" placeholder="Enter your full name">
        <br>
        <label>Select Gender</label>
        <br>
        <div class="gender-selector">
            <label>
                <input type="radio" name="gender" value="male">
                Male
            </label>

            <label>
                <input type="radio" name="gender" value="female">
                Female
            </label>

            <label>
                <input type="radio" name="gender" value="third">
                Third Gender
            </label>
        </div>
        <br>
        <label for="">Date of birth(DD/MM/YYYY) on PAN</label>
        <br>
        <input type="date" class="form-control" id="" placeholder="Enter date of birth">
        <br>
        <label for="">Pan card Number</label>
        <br>
        <input type="text" class="form-control" id="" placeholder="Enter 10-character Alphanumeric PAN">

        <br>
        <label for="">Employment Type (Salaried or Self Employed)</label>
        <br>
        <select name="" id="">
            <option value="" disabled selected>Select Employment Type</option>
            <option value="salaried">Salaried</option>
            <option value="self-employed">Self Employed</option>
        </select>
        <br>
        <label for="">Current Residential PinCode</label>
        <br>
        <input type="text" class="form-control" id="" placeholder="Enter 6 digit Current Residential PinCode">
        <br>
        <!-- after entering pincode and hit enter it should display city by default city should be Pune if pincode is 6 digit entered and if pincode is below 6 digit it should not display city field -->
        @if (isPincodeValid()) {
        <div>
            <label for="">City</label>
            <br>
            <input type="text" class="form-control" id="" placeholder="City" value="Pune" disabled>
            <br>
        </div>
        }
        <button type="submit" class="btn btn-primary" (click)="vehicleDetails()">Submit</button>

    </div>