.aa-wrapper {
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 194.5px 16px;
    background: #ffffff;
}

.aa-card {
    text-align: center;
    max-width: 520px;
    width: 100%;
}

.aa-title {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
    margin: 0 0 40px;
    color: #002953;
}


.aa-subtitle {
    width: 298px;
    height: 38px;
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
    color: #1A1A1A;
}


@keyframes aa-float {

    0%,
    100% {
        transform: translateY(0) scale(1);
    }

    50% {
        transform: translateY(-18px) scale(1.03);
    }
}

.loader-svg {
    width: 243px;
    height: 60.75px;
    animation: aa-float 1.8s ease-in-out infinite;
    transform-origin: center bottom;
    margin-bottom: 40px;
}